templates/Personal Finance Tracker Ai agent.json
{
  "name": "Track personal finances in Google Sheets with AI Agent via Slack",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:D"
            }
          }
        }
      },
      "id": "35177fc2-d800-4ef6-b437-c5ef7f9c60dd",
      "name": "Get Current Balance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        544,
        176
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {
          "dataLocationOnSheet": {
            "values": {
              "rangeDefinition": "specifyRangeA1",
              "range": "A:F"
            }
          }
        }
      },
      "id": "97cd7db6-1766-4b2f-831d-2929bb3e612e",
      "name": "Get Active Debts",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        544,
        368
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all();\n\nconst flatData = data.length > 0 && Array.isArray(data[0].json) ? data[0].json : data.map(item => item.json);\n\nconst balanceSheet = flatData.filter(item => item.Date);\nconst debtSheet = flatData.filter(item => item.Person_Name);\n\nconst currentBalance = balanceSheet[balanceSheet.length - 1];\n\nconst activeDebts = debtSheet.filter(item => item.Status === \"Active\");\n\nconst totalActiveDebt = activeDebts.reduce((sum, debt) => sum + debt.Amount, 0);\n\nlet message = `Daily Finance Check - ${new Date().toISOString().split('T')[0]}\\n`;\nmessage += `Current Balance:\\n`;\nmessage += `  Online: ₹${currentBalance.Online_Balance}\\n`;\nmessage += `  Cash: ₹${currentBalance.Cash_Balance}\\n`;\nmessage += `  Total: ₹${currentBalance.Total_Balance}\\n\\n`;\nmessage += `Active Debts:\\n`;\nmessage += `  They owe you: ₹${totalActiveDebt}\\n`;\n\nactiveDebts.forEach(debt => {\n  message += `    • ${debt.Person_Name}: ₹${debt.Amount}\\n`;\n});\n\nmessage += `\\nPlease share today's transactions:\\n`;\nmessage += `Example format:\\n`;\nmessage += `  - ₹500 cash travel\\n`;\nmessage += `  - ₹200 online food\\n`;\nmessage += `  - Borrowed ₹1000 from Rahul\\n`;\nmessage += `  - Lent ₹500 to Priya\\n`;\nmessage += `  - Rahul paid back ₹500\\n\\n`;\nmessage += `Reply to this message with your transactions!`;\n\nreturn {\n  message: message,\n  currentBalance: currentBalance,\n  activeDebts: activeDebts,\n  totalActiveDebt: totalActiveDebt\n};"
      },
      "id": "9e584d0c-01b4-4347-9560-398c846a915d",
      "name": "Format Daily Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        272
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "={{ $json.message }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "c1ed8092-f7a7-4b73-8cfb-bffdcf5e13c0",
      "name": "Send Slack Message",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [
        1216,
        272
      ],
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        272
      ],
      "id": "fa78a016-554f-40b5-8d64-fc66e8cba48b",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Personal Finance AI Agent\n\nYou are a personal finance management AI agent that processes transactions, updates Google Sheets, and communicates via Slack. \n\n## Available Tools\n\n- **Google Gemini Chat Model** - AI reasoning(you)\n- **Postgres Chat Memory** - Conversation context storage\n- **Think** - Internal reasoning\n- **Calculator** - Balance calculations\n- **Get Balances** - Read \"Balances\" sheet\n- **Get Transactions** - Read \"Transactions\" sheet\n- **Get Debts** - Read \"Debts\" sheet\n- **Append or update row in Transactions** - Write transaction records\n- **Append or update row in Debts** - Write debt records\n- **Append or update row in Balances** - Write balance records\n- **replying to the user** - Send Slack message (ends workflow)\n- for reference in logging dates properly here is the day and time now {{ $now }}\n\n## Database Structure\n\n**Balances Sheet:** Date, Cash_Balance, Online_Balance, Total_Balance  \n**Transactions Sheet:** Transaction_ID, Date, Time, Amount, Payment_Type, Category, Transaction_Type, Person_Name, Description, Added_At  \n**Debts Sheet:** Person_Name, Amount, Type, Date_Created, Status, Notes\n\n## Workflow\n\n### Phase 1: Analyze & Parse\n\nUse **Think** to analyze the message:\n\n**Non-Transaction Messages:**\n- Greetings → Respond: \"👋 Hi! I'm your finance assistant. Send transactions like: ₹500 cash food, ₹200 online travel\"\n- Help → Explain capabilities\n- \"No transactions\" → Reply: \"Got it! No transactions to record today. 👍\"\n- Unclear → Ask for clarification\n\n**For Transactions, Extract:**\n- Amount (number)\n- Payment type: cash/online (default: online)\n- Category: travel, food, entertainment, utilities, shopping, health, education, other\n- Transaction type: expense, income, borrowed, lent, owed, repaid\n- Person name (required for debt transactions)\n- Description\n\n**Transaction Type Logic:**\n- \"borrowed from X\" → I owe X, balance +amount\n- \"lent to X\" → X owes me, balance -amount\n- \"X paid back\" → balance +amount, Type: repaid\n- \"owe X\" → balance unchanged, Type: owed\n- Regular expense → balance -amount\n- Income → balance +amount\n\nUse **Postgres Chat Memory** to store parsed data.\n\n### Phase 2: Calculate & Preview\n\n1. Use **Get Balances** to read current balances\n2. Use **Calculator** to compute new balances\n3. Format preview message:\n\n```\n📋 Transaction Preview - Please Review:\n\n[For each transaction:]\n[Emoji] ₹[amount] [payment_type] - [category]\nDescription: [description]\n[If person: Person: [name]]\n\n💡 Projected Balance Changes:\n💵 Cash: ₹[current] → ₹[new] ([+/-]₹[change])\n💳 Online: ₹[current] → ₹[new] ([+/-]₹[change])\n📊 Total: ₹[current_total] → ₹[new_total]\n\n[If debts affected:]\n📝 Debt Updates:\n- [Person]: [details]\n\nReply \"yes\"/\"approve\" to proceed or \"no\"/\"cancel\" to abort.\n```\n\n4. Send preview and wait for response\n5. Use **Think** to check approval:\n   - **Accept:** \"yes\", \"approve\", \"confirm\", \"ok\", \"proceed\", \"y\", \"correct\", \"looks good\", \"go ahead\"\n   - **Reject:** \"no\", \"cancel\", \"abort\", \"stop\", \"n\", \"wrong\", \"don't proceed\"\n\nIf rejected, send: \"🚫 Transaction cancelled. No changes made.\" and stop.\n\n### Phase 3: Update Database (Only After Approval)\n\n1. **Append or update row in Transactions:**\n   - Transaction_ID: \"TXN_{timestamp}_{index}\"\n   - Date: YYYY-MM-DD\n   - Time: HH:MM\n   - Added_At: current timestamp\n   - All parsed fields\n\n2. **Append or update row in Debts** (if applicable):\n   - borrowed → Type: \"I_Owe\", Status: \"Active\"\n   - lent → Type: \"They_Owe_Me\", Status: \"Active\"\n   - owed → Type: \"I_Owe\", Status: \"Active\"\n   - repaid → Type: \"Repaid\", Status: \"Settled\"\n\n3. **Append or update row in Balances:**\n   - Date: today (YYYY-MM-DD)\n   - Cash_Balance, Online_Balance, Total_Balance (calculated)\n\n### Phase 4: Send Confirmation\n\nUse **replying to the user** with this format:\n\n```\n✅ Successfully logged [N] transaction(s)!\n\n[Emoji] ₹[amount] [payment_type] - [category] ([person if applicable])\n...\n\n💰 Updated Balance:\n💵 Cash: ₹[new_cash] ([+/-]₹[change])\n💳 Online: ₹[new_online] ([+/-]₹[change])\n📊 Total: ₹[total]\n\n[If debts updated:]\n📝 Active Debts:\n- [Person]: ₹[amount] ([Type])\n\nDate & time: ([date and time of logging])\n\nAll records updated successfully! 🎉\n```\n\n## Emojis\n\n**Transaction Types:** Expense 💸 | Income 💰 | Borrowed 🔴 | Lent 💚 | Repaid ✅ | Owed ⚠️\n\n**Categories:** Food 🍔 | Travel 🚗 | Entertainment 🎬 | Utilities 💡 | Shopping 🛍️ | Health 🏥 | Education 📚 | Other 📦\n\n## Error Handling\n\nFor any errors, send clear message and stop:\n- Unclear format → \"❌ I couldn't parse your transactions. Use format: ₹500 cash food, ₹200 online travel\"\n- Missing person for debt → \"❌ Debt transactions require a person's name. Example: borrowed ₹1000 from Rahul\"\n- Database errors → \"❌ Error [reading/updating] records: [brief error]. Please try again.\"\n\n## Decision Flow\n\n```\nMessage received\n↓\nThink: Is this a transaction?\n├─ NO → Reply appropriately, end\n└─ YES → Parse & store in memory\n         ↓\n         Get current balances\n         ↓\n         Calculate new balances\n         ↓\n         Send preview & wait for approval\n         ↓\n         Think: Approved?\n         ├─ NO → Send cancellation, end\n         └─ YES → Update Transactions\n                  ↓\n                  Update Debts (if needed)\n                  ↓\n                  Update Balances\n                  ↓\n                  Send confirmation, end\n```\n\n## Key Reminders\n\n- Always use **Think** before decisions\n- Use **Postgres Chat Memory** to maintain conversation context\n- Use **Calculator** for all balance computations\n- Generate Transaction_ID for each transaction: \"TXN_{timestamp}_{index}\"\n- Timestamps are auto-handled by database\n- Every workflow path ends with **replying to the user**"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        480,
        688
      ],
      "id": "d57d6590-3a89-48cd-a2b7-966986be0b48",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        384,
        992
      ],
      "id": "7b79f453-efff-4379-a97c-ab60f9eaa22c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        736,
        992
      ],
      "id": "f70fe62b-4dde-4d1b-ad8a-52c9b3bf68dd",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        864,
        992
      ],
      "id": "46145479-41b7-4a08-b68d-fe7588b24076",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in Balances sheet from Google Sheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1024,
        992
      ],
      "id": "85be0e80-a596-4050-9944-b05b054e29b9",
      "name": "Get Balances",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in Transactions sheet from Google Sheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1152,
        992
      ],
      "id": "dacf868c-69e0-4390-a492-86737771f614",
      "name": "Get Transactions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in Debts sheet from Google Sheets",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1264,
        992
      ],
      "id": "dd1bce62-897c-4bfa-ae16-26170bebff47",
      "name": "Get Debts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "finance_tracker_session",
        "tableName": "n8n_chat_history_finance"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        528,
        992
      ],
      "id": "d049a7e5-0b2c-47db-a105-2f1d56d87174",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "",
          "name": "PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1504,
        688
      ],
      "id": "eebbfa56-66d8-4a5a-8249-94e724ef1b9b",
      "name": "replying to the user",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack API"
        }
      }
    },
    {
      "parameters": {
        "content": "## Agent\nNote: Never trigger the flow with normal message, because then the flow will be triggered by it's own reply message creating an infinite loop.\nClaude is recommended as the model.",
        "height": 736,
        "width": 1728,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        576
      ],
      "id": "0dda1a8e-684c-4505-98f4-8cd92b67a85a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Scheduled checkin",
        "height": 416,
        "width": 1360,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        144
      ],
      "id": "ab928c87-9fac-459f-a5eb-8f4fa887d41b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Personal Finance Tracker AI Agent\n\n## Overview\nAI-powered Slack bot that logs transactions, tracks debts, and manages balances in Google Sheets using natural language.\n\n## Key Features\n- 🤖 Natural language transaction parsing via Google Gemini\n- 💰 Automatic balance calculations (cash + online)\n- 🔄 Debt tracking (borrowed/lent/repaid)\n- ✅ Preview & approve before saving\n- 📊 Daily automated check-ins at 11 PM\n- 💬 Conversational memory with PostgreSQL\n\n## How It Works\n\n**Daily Reminder (11 PM)**\n- Shows current balances & active debts\n- Prompts for today's transactions\n\n**Transaction Processing**\n1. Mention bot with transactions: `₹500 cash food, ₹200 online travel`\n2. AI parses & calculates new balances\n3. Shows preview for approval\n4. Updates Google Sheets after confirmation\n\n**Debt Handling**\n- `Borrowed ₹1000 from Rahul` → Balance +1000, tracks I_Owe\n- `Lent ₹500 to Priya` → Balance -500, tracks They_Owe_Me\n- `Rahul paid back ₹500` → Updates debt status to Settled\n\n## Data Structure (Google Sheets)\n- **Balances:** Date, Cash, Online, Total\n- **Transactions:** ID, Date, Amount, Type, Category, Person\n- **Debts:** Person, Amount, Type, Status, Notes\n\n## Prerequisites\n- Slack workspace + bot token\n- Google Sheets (3 tabs setup)\n- Google Gemini API key\n- PostgreSQL database\n- n8n instance",
        "height": 1168,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -528,
        144
      ],
      "id": "42e14b01-4f61-4191-96b8-87b8c8109910",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Retrieving data",
        "height": 208,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        992,
        928
      ],
      "id": "91e00b24-5e03-4d22-b2f5-618c59e3e0af",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Adding/Modifying data",
        "height": 224,
        "width": 496
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1376,
        1072
      ],
      "id": "ea0e38f5-dfde-4978-8957-6fb3017fb1dd",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date__using_to_match_', ``, 'string') }}",
            "Transaction_ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Transaction_ID', ``, 'string') }}",
            "Time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Time', ``, 'string') }}",
            "Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount', ``, 'string') }}",
            "Payment_Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Payment_Type', ``, 'string') }}",
            "Category": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Category', ``, 'string') }}",
            "Transaction_Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Transaction_Type', ``, 'string') }}",
            "Person_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Person_Name', ``, 'string') }}",
            "Description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
            "Added_At": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Added_At', ``, 'string') }}"
          },
          "matchingColumns": [
            "Transaction_ID"
          ],
          "schema": [
            {
              "id": "Transaction_ID",
              "displayName": "Transaction_ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Payment_Type",
              "displayName": "Payment_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Transaction_Type",
              "displayName": "Transaction_Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Person_Name",
              "displayName": "Person_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Added_At",
              "displayName": "Added_At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1424,
        1120
      ],
      "id": "638edc57-a081-42d8-b827-1a0f565b240c",
      "name": "Adding/updating Transactions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Amount": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Amount', ``, 'string') }}",
            "Person_Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Person_Name', ``, 'string') }}",
            "Type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Type', ``, 'string') }}",
            "Date_created": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date_created', ``, 'string') }}",
            "Status": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}",
            "Notes": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notes', ``, 'string') }}"
          },
          "matchingColumns": [
            "Person_Name"
          ],
          "schema": [
            {
              "id": "Person_Name",
              "displayName": "Person_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Amount",
              "displayName": "Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date_created",
              "displayName": "Date_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1584,
        1120
      ],
      "id": "9a9078c6-5acc-42f5-b3f6-278c880e486a",
      "name": "Adding/updating debts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date__using_to_match_', ``, 'string') }}",
            "Cash_Balance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cash_Balance', ``, 'string') }}",
            "Online_Balance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Online_Balance', ``, 'string') }}",
            "Total_Balance": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Total_Balance', ``, 'string') }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cash_Balance",
              "displayName": "Cash_Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Online_Balance",
              "displayName": "Online_Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total_Balance",
              "displayName": "Total_Balance",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1744,
        1120
      ],
      "id": "a74ad1ef-12c5-4713-a8e8-cde55d0c4f26",
      "name": "Adding/updating balances",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        288,
        272
      ],
      "id": "b3fd7483-685a-47ce-aace-6c81f2ee0eb1",
      "name": "Daily checkin trigger"
    },
    {
      "parameters": {
        "trigger": [
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        208,
        688
      ],
      "id": "239a0c40-616e-44a3-94f5-13b33cae240e",
      "name": "Bot Mention trigger",
      "credentials": {
        "slackApi": {
          "id": "",
          "name": "Slack API"
        }
      }
    }
  ],
  "connections": {
    "Get Current Balance": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Debts": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Daily Message": {
      "main": [
        [
          {
            "node": "Send Slack Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Format Daily Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "replying to the user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Balances": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Transactions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Debts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Adding/updating Transactions": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Adding/updating debts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Adding/updating balances": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Daily checkin trigger": {
      "main": [
        [
          {
            "node": "Get Current Balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Active Debts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bot Mention trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": []
}